@import url('./bootstrap.min.css');

html,
body,
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  bottom: 0;
  position: relative;
  width: 100%;
}
